<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <body>
    <%- include('../includes/userNav.ejs') %>
    <!-- New Password (User) -->
    <section>
        <div class="mt-28 flex flex-col justify-between items-center mx-auto p-10 w-96 shadow-lg bg-blue-100">
            <h3 class="text-center font-bold text-3xl">New Password</h3>
            <form action="/new-password" method="POST" class="flex flex-col justify-start items-start pt-10">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="token" value="<%= resetToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <% if (passLengthErr) { %>
                    <p class="font-bold text-center text-red-500"> <%= passLengthErr %> </p>
                <% } %>
                <label for="password">
                    <p>Enter New Password</p>
                    <input type="password" name="password" id="password" value="<%= oldPassword %>" placeholder="Enter New Password" class="text-centerr px-4 w-56 mt-2 py-2 focus:outline-none">
                </label>
                <button type="submit" class="px-6 py-2 text-center font-bold bg-slate-500 hover:bg-slate-400 text-white mx-auto mt-6">Update Password</button>
            </form>
        </div>
    </section>

  </body>
</html>
