<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs')%>
    <body>
        <%- include('../includes/userNav.ejs') %>
        <section class="pt-28 max-w-5xl mx-auto">
            <% if(prods.length > 0) { %>
                <div class="flex flex-wrap">
                    <% for(let product of prods) { %>
                        <article class="mx-auto flex flex-col shadow-lg p-4">
                            <div>
                                <img class="h-40" src="<%= product.imageURL%>" alt="Product Image">
                            </div>
                            <p class="font-bold text-center"><%= product.title %></p>
                            <p class="font-bold text-center"><%= product.price %></p>
                            <div class="flex justify-center items-center pt-4 space-x-4">
                                <a href="/seller/edit-product/<%= product._id %>/?edit=true" class="btn px-3 py-2 rounded font-bold text-center bg-blue-200 text-gray-500">Edit</a>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn px-3 py-2 rounded font-bold text-center bg-red-500 text-white" type="button" onclick="deleteProduct(this)">Delete</button>
                                <input type="hidden" name="productId" value="<%= product._id%>"">
                            </div>
                        </article>
                        <% } %>
                </div>
            <% } else { %>
                <div class="mx-auto text-center font-bold text-4xl text-red-500">
                    No Product
                </div>
                <% } %>    
        </section>
        <script src="/js/seller.js"></script>
    </body>
    </html>