<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/tailwind.css">
  <body>
    <%- include('../includes/userNav.ejs') %>
    <!-- Seller Signup Form -->
    <section>
        <div class="w-96 mt-32 mx-auto shadow-lg">
            <form action="/seller/signup" class="flex flex-col justify-center items-center px-10 py-10 rounded-lg bg-lime-400" method="POST">
                <h3 class="text-center font-bold text-3xl ">Seller Signup</h3>
                <% if (errorMessage) { %>
                    <p class="text-center font-bold text-red-500"><%= errorMessage %></p>
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label for="email">
                    <p class="text-lg pb-2">Email</p>
                    <input type="email" name="email" id="email" value="<%= oldData.email %>" class="w-72 px-6 text-left py-4 rounded-lg focus:outline-none">
                </label>
                <label for="password">
                    <p class="text-lg pb-2">Password</p>
                    <input type="password" name="password" id="password" value="<%= oldData.password %>" class="w-72 px-6 text-left py-4 rounded-lg focus:outline-none">
                </label>
                <label for="confirmPassword">
                    <p class="text-lg pb-2">Confirm Password</p>
                    <input type="confirmPassword" name="confirmPassword" id="confirmPassword" value="<%= oldData.confirmPassword %>" class="w-72 px-6 text-left py-4 rounded-lg focus:outline-none">
                </label>
                <button type="submit" class="text-xl px-8 py-2 mt-10 rounded-md hover:bg-lime-400 text-white bg-lime-700">Create Account</button>
                <div class="flex justify-between space-x-16 mt-4 underline underline-offset-4">
                    <a href="/seller/login" class="hover:text-gray-400">Already Have an Seller Account? Login</a>
                </div>
            </form>
        </div>
    </section>
  </body>
</html>
